extends layout

block content
  h1= title

  canvas#gameCanvas

  script(src='localhost:8000/socket.io/socket.io.js')
  script(src='js/requestAnimationFrame.js')
  script(src='js/animation.js')
  script(src='js/Keys.js')
  script(src='js/Player.js')
  script(src='js/House.js')
  script(src='js/game.js')

  script(type='text/javascript').
    // Initialize the game
    init();
    animate();