doctype html
html
  head
    title SquareCity
    <meta charset="utf-8">

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/style/reset.css")
    link(rel="stylesheet" href="/style/game.css")
  body
    block content